<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalhar Usuário</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content >
    <ion-item>
      <ion-label>ID: {{usuario.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nome: {{usuario.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CPF: {{usuario.cpf}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apelido: {{usuario.apelido}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Data de Nascimento: {{usuario.dtNascimento}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sexo: {{usuario.sexo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Celular: {{usuario.telefone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-mail: {{usuario.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Endereço: {{usuario.endereco}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nº: {{usuario.numeroEnd}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CEP: {{usuario.cep}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bairro: {{usuario.bairro}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Município: {{usuario.municipio}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>UF: {{usuario.uf}}</ion-label>
    </ion-item>
  </ion-content>