<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Sumula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto" style="font-size: 37px;">
            <div>
              {{jogo.timeA + '   '+ '2' + '  X  ' + '1' + '   '+ jogo.timeB}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            {{goleiro.id + ' - ' + goleiro.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>           
            <ion-icon name="square" color="warning" (click)="refreshPagee()"></ion-icon>
            {{fixo.id}}
            <ion-icon name="square" color="danger"></ion-icon>
            {{goleiro.id}}
            <ion-icon name="football" color="medium"></ion-icon>
            {{alaEsquerda.id}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{goleiroB.id + ' - ' + goleiroB.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            {{fixo.id + ' - ' + fixo.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>

          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{fixoB.id + ' - ' + fixoB.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixoB.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            {{alaDireita.id + ' - ' + alaDireita.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{alaDireitaB.id + ' - ' + alaDireitaB.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            {{alaEsquerda.id + ' - ' + alaEsquerda.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{alaEsquerdaB.id + ' - ' + alaEsquerdaB.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div>
            {{pivo.id + ' - ' + pivo.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
            {{pivoB.id + ' - ' + pivoB.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
              <ion-icon name="square" color="warning"></ion-icon>
              {{fixo.id}}
              <ion-icon name="square" color="danger"></ion-icon>
              {{goleiro.id}}
              <ion-icon name="football" color="medium"></ion-icon>
              {{alaEsquerda.id}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2">
          <div>
            Comissão Técnica
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div>
            Treinador: {{treinador.id + ' - ' + treinador.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            Treinador: {{treinadorB.id + ' - ' + treinadorB.nome}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div>
            Massagista: {{massagista.id + ' - ' + massagista.nome}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            Massagista: {{massagistaB.id + ' - ' + massagistaB.nome}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div>
            Árbitro Principal:
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            {{arbitroPrincipal.id + ' - ' + arbitroPrincipal.nome}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div>
            Árbitro Auxiliar:
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            {{arbitroAuxiliar.id + ' - ' + arbitroAuxiliar.nome}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div>
            Anotador:
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            {{anotador.id + ' - ' + anotador.nome}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
      <ion-label>ID do Jogo: {{jogo.id}}</ion-label>
      <ion-label *ngIf="jogo.genero == 'F'">Gênero: Feminino</ion-label>
      <ion-label *ngIf="jogo.genero == 'M'">Gênero: Masculino</ion-label>
      <ion-label>Data: {{jogo.dataJogo}}</ion-label>
      <ion-label>Horário: {{jogo.horario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Local: {{jogo.localJogo}}</ion-label>
    </ion-item> 
  <ion-item>
    <ion-label>Anotações</ion-label>
    <ion-textarea rows="4" cols="20"></ion-textarea>
  </ion-item>

</ion-content>