<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Sumula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label>ID do Jogo: {{jogo.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>{{jogo.timeA}}</ion-label>
    </ion-item>
    <ion-input type="number" maxLength="4" text-center></ion-input>
    <ion-label> X </ion-label>
    <ion-input type="number" maxLength="4" text-center></ion-input>
    <ion-item>
      <ion-label>{{jogo.timeB}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-label>Time {{jogo.timeA}}</ion-label>
  </ion-item>
 
    <ion-item>
      <ion-label slot="start">Goleiro: {{goleiro.nome + ' ( ' + goleiro.cpf + ' / ' + goleiro.id +' )'}}</ion-label>
      <ion-input type="number" maxLength="4" slot="end"></ion-input>
      <ion-button (click)="alterarTime(time.id)" slot="end" shape="round" fill="outline" color="warning">Alterar
      </ion-button>
    </ion-item>


 
  <ion-item>
    <ion-item>
      <ion-label>Fixo: {{fixo.nome + ' ( ' + fixo.cpf + ' / ' + fixo.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Ala Direita: {{alaDireita.nome + ' ( ' + alaDireita.cpf + ' / ' + alaDireita.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Ala Esquerda: {{alaEsquerda.nome + ' ( ' + alaEsquerda.cpf + ' / ' + alaEsquerda.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Pivo: {{pivo.nome + ' ( ' + pivo.cpf + ' / ' + pivo.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Treinador: {{treinador.nome + ' ( ' + treinador.cpf + ' / ' + treinador.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Massagista: {{massagista.nome + ' ( ' + massagista.cpf + ' / ' + massagista.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-label>Time {{jogo.timeB}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Goleiro: {{goleiroB.nome + ' ( ' + goleiroB.cpf + ' / ' + goleiroB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Fixo: {{fixoB.nome + ' ( ' + fixoB.cpf + ' / ' + fixoB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Ala Direita: {{alaDireitaB.nome + ' ( ' + alaDireitaB.cpf + ' / ' + alaDireitaB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Ala Esquerda: {{alaEsquerdaB.nome + ' ( ' + alaEsquerdaB.cpf + ' / ' + alaEsquerdaB.id +' )'}}
      </ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Pivo: {{pivoB.nome + ' ( ' + pivoB.cpf + ' / ' + pivoB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Treinador: {{treinadorB.nome + ' ( ' + treinadorB.cpf + ' / ' + treinadorB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-label>Massagista: {{massagistaB.nome + ' ( ' + massagistaB.cpf + ' / ' + massagistaB.id +' )'}}</ion-label>
    </ion-item>
  </ion-item>

  <ion-item *ngIf="jogo.genero == 'F'">
    <ion-label>Gênero: Feminino</ion-label>
  </ion-item>
  <ion-item *ngIf="jogo.genero == 'M'">
    <ion-label>Gênero: Masculino</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Data: {{jogo.dataJogo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Horário: {{jogo.horario}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Local: {{jogo.localJogo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Árbitro Principal:
      {{arbitroPrincipal.nome + ' ( ' + arbitroPrincipal.cpf + ' / ' + arbitroPrincipal.id +' )'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Árbitro Auxiliar:
      {{arbitroAuxiliar.nome + ' ( ' + arbitroAuxiliar.cpf + ' / ' + arbitroAuxiliar.id +' )'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Anotador: {{anotador.nome + ' ( ' + anotador.cpf + ' / ' + anotador.id +' )'}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Anotações</ion-label>
    <ion-textarea rows="4" cols="20"></ion-textarea>
  </ion-item>

</ion-content>