<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Id </ion-label>
      <ion-label>Nome</ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item *ngFor="let sumulas of lista_categorias; let i = index">
      <ion-label>{{sumulas.id}} </ion-label>
      <ion-label>{{sumulas.nome}} </ion-label>
      <ion-button slot="end" shape="round" fill="outline">Detalhar</ion-button>
      <ion-button slot="end" shape="round" fill="outline" color="warning">Alterar</ion-button>
      <ion-button (click)="excluirUsuario(sumulas.id, sumulas.nome)" slot="end" shape="round" fill="outline" color="danger">Deletar
      </ion-button>
    </ion-item>
  </ion-list>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/cadastrar-arbitro">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>