<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row >
          <ion-col size="2">
            <div>
              Id
            </div>
          </ion-col>
          <ion-col size="1">
            <div>
              Time A
            </div>
          </ion-col>
          <ion-col size="3">
            <div>
              Time B
            </div>
          </ion-col>
          <ion-col size="1">
            <div>
              Data
            </div>
          </ion-col>
          <ion-col size="1">
            <div>
              Gênero
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let jogo of lista_jogos; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <div>
              {{jogo.id}}
            </div>
          </ion-col>
          <ion-col size="3">
            <div>
              {{jogo.timeA}}
            </div>
          </ion-col>
          <ion-col size="1">
            <div>
              X
            </div>
          </ion-col>
          <ion-col size="3">
            <div>
              {{jogo.timeB}}
            </div>
          </ion-col>
          <ion-col size="2">
            <div>
              {{jogo.dataJogo}}
            </div>
          </ion-col>
          <ion-col size="1">
            <div>
              {{jogo.genero}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button  (click)="sumulaJogo(jogo.id)" slot="end" shape="round" fill="outline">Sumulas</ion-button>
      <ion-button  (click)="detalharJogo(jogo.id)" (click)="refreshPage()" slot="end" shape="round" fill="outline">Detalhar</ion-button>
      <ion-button (click)="alterarJogo(jogo.id)"slot="end" shape="round" fill="outline" color="warning">Alterar</ion-button>
      <ion-button (click)="excluirJogo(jogo.id, jogo.timeA, jogo.timeB)" slot="end" shape="round" fill="outline" color="danger">Deletar</ion-button>
    </ion-item>
  </ion-list>



  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/jogos/cadastrar">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
